extends layout.pug

block content

  article.portfolio-intro
    h1 Porfolio of Tomvesa
    p.
     This project extends the portfolio page I created as the final project of Frontend developer 
     Techdegree course at Treehous.
     This time focusing on JavaScript usage on the backend using Nodejs, Express.js and Pug for page
     templating.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each val in projects
        .cell
          a(href=`/project/${val.id}`)
            img(class='thumbnail' src=`/img/portfolio/${val.image_url.thumbnail}`)
            h5= `${val.Name}`

